<div class="max-w-screen-xl mx-auto px-4 md:px-8">
  <div class="items-start justify-between md:flex">
    <div class="max-w-lg mt-4">
      <h3 class="text-xl font-bold sm:text-2xl">Usuários cadastrados</h3>
    </div>
  </div>
  <div class="flex items-center pt-4 flex-row gap-4 md:flex">
    <div class="relative w-64">
      <ng-icon
        name="lucideSearch"
        strokeWidth="1.5"
        size="20"
        class="w-6 h-6 text-gray-400 absolute left-3 inset-y-0 my-auto"
      ></ng-icon>

      <input
        type="text"
        placeholder="Pesquisar"
        id="pesquisar"
        [(ngModel)]="filterText"
        (input)="filterUsers()"
        class="w-full z-10 pl-12 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
      />
    </div>
    <button
      class="flex items-center justify-center w-11 h-10 border border-[var(--primary-border-color)] rounded-md hover:bg-[var(--tertiary-button-background-color)]"
      (click)="RefreshUsers()"
      >
      <ng-icon
        class="flex text-[var(--primary-font-color)]"
        name="lucideRefreshCcw"
        strokeWidth="1.5"
        size="18"
      ></ng-icon>
    </button>
  </div>
  <div class="table-border mt-6 shadow-sm border rounded-lg overflow-x-auto">
    <table class="w-full table-auto text-sm text-left">
      <thead class="font-medium border-b">
        <tr>
          <th class="py-3 px-6">Usuário</th>
          <th class="py-3 px-6">Telefone</th>
          <th class="py-3 px-6">Cargo</th>
          <th class="py-3 px-6">Tipo</th>
          <th class="py-3 px-6"></th>
        </tr>
      </thead>
      <tbody class="divide-y">
        <tr *ngFor="let item of paginatedUsers; let idx = index">
          <td class="flex items-center gap-x-3 py-3 px-6 whitespace-nowrap">
            <div>
              <span class="block text-sm font-medium">{{ item.nome }}</span>
              <span class="block text-xs">{{ item.email }}</span>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ item.telefone }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ item.cargo }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ item.tipo }}</td>
          <td class="text-right px-6 whitespace-nowrap">
            <a
              (click)="editarUser(item.tipo)"
              class="button-edit py-2 px-3 font-medium hover: duration-150 hover: rounded-lg hover:cursor-pointer"
              >Editar</a
            >
            <button
              class="button-delete py-2 leading-none px-3 font-medium hover: duration-150 hover: rounded-lg"
              (click)="deleteUser()"
            >
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="max-w-screen-xl mx-auto mt-6 px-4 md:px-8"></div>
  <div
    class="pagination flex items-center justify-center gap-x-8 text-sm font-medium"
  >
    <a
      (click)="prevPage()"
      class="px-4 py-2 border rounded-lg duration-150 hover:bg-gray-50 cursor-pointer"
      >Anterior</a
    >
    <div>Página {{ currentPage }} de {{ totalPages }}</div>
    <a
      (click)="nextPage()"
      class="px-4 py-2 border rounded-lg duration-150 hover:bg-gray-50 cursor-pointer"
      >Próximo</a
    >
  </div>
</div>
