<main>
  <section>
    <figure>
      <iframe
        src="https://lottie.host/embed/f4b18af0-319b-485f-835e-c45b7ef5946d/kV4q7QkuRY.json"
      ></iframe>
    </figure>
    <div class="container-info">
      <h1 class="title">Oops!</h1>
      <h2 class="sub-title">Algo deu errado...</h2>
      <p class="text">
        A página que você tentou acessar não foi encontrada. Recomendamos que
        volte à página inicial ou para página anterior.
      </p>
      <div class="container-button">
        <button
          class="border-2 border-[#3e3e3e] rounded-lg px-4 py-2 text-base hover:cursor-pointer transition"
        >
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 1024 1024"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="var(--secundary-font-color)"
              d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
            ></path>
            <path
              fill="var(--secundary-font-color)"
              d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
            ></path>
          </svg>
          Voltar
        </button>
      </div>
    </div>
  </section>
</main>
