<div class="flex flex-col justify-center p-4 w-full">
  <main
    class="main-content flex flex-col gap-x-6 lg:flex-row justify-center md:gap-y-4"
  >
    <div class="container-large flex w-3/5 flex-col gap-y-4 max-lg:w-4/5">
      <div class="cards flex flex-row justify-between">
        <section
          class="card-item rounded-lg border border-gray-100 p-6 dark:border-gray-800 dark:bg-gray-900 h-36 w-64"
        >
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Taxa de resolução
            </p>

            <p class="text-2xl font-medium text-gray-900 dark:text-white">
              {{
                dashboardMetrics.taxaResolucao
                  ? dashboardMetrics.taxaResolucao.toFixed(2)
                  : "0.00"
              }}%
            </p>
          </div>

          <div class="mt-1 flex gap-1 text-green-600">

            <p class="flex gap-2 text-xs">
              <span class="font-medium">
                {{ dashboardMetrics.ticketsResolvidos }}
              </span>

              <span class="text-gray-500 dark:text-gray-400">
                Tickets resolvidos
              </span>
            </p>
          </div>
        </section>

        <section
          class="card-item rounded-lg border border-gray-100 p-6 dark:border-gray-800 dark:bg-gray-900 h-36 w-64"
        >
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Taxa impedidos
            </p>

            <p class="text-2xl font-medium text-gray-900 dark:text-white">
              {{
                dashboardMetrics.taxaFechados
                  ? dashboardMetrics.taxaFechados.toFixed(2)
                  : "0.00"
              }}%
            </p>
          </div>

          <div class="mt-1 flex gap-1 text-red-600">

            <p class="flex gap-2 text-xs">
              <span class="font-medium">
                {{ dashboardMetrics.totalFechados }}
              </span>
              <span class="text-gray-500 dark:text-gray-400">
                Tickets impedidos
              </span>
            </p>
          </div>
        </section>

        <section
          class="card-item rounded-lg border border-gray-100 p-6 dark:border-gray-800 dark:bg-gray-900 h-36 w-64"
        >
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Taxa de vencimento
            </p>

            <p class="text-2xl font-medium text-gray-900 dark:text-white">
              {{
                dashboardMetrics.taxaVencimento
                  ? dashboardMetrics.taxaVencimento.toFixed(2)
                  : "0.00"
              }}%
            </p>
          </div>

          <div class="mt-1 flex gap-1 text-red-600">
            <p class="flex gap-2 text-xs">
              <span class="font-medium">
                {{ dashboardMetrics.ticketsVencidos }}
              </span>
              <span class="text-gray-500 dark:text-gray-400">
                Tickets vencidos
              </span>
            </p>
          </div>
        </section>
        <!-- END CARDS -->
      </div>

      <!-- START GRAFICO DE ONDAS -->

      <main class="flex flex-col gap-x-4 w-full">
        <div
          class="grafico-ondas w-full h-8/12 rounded-lg shadow dark:bg-gray-800 p-2 md:p-4"
        >
          <div class="flex justify-between mb-8">
            <div class="gap-4 grid-cols-2">
              <div>
                <h5 class="text-xl font-bold leading-none text-gray-900 pe-1">
                  Tempo médio de resolução
                </h5>
              </div>
            </div>
            <div class="flex relative justify-between items-center pt-5">
              <div
                id="menuDateAvgTime"
                class="z-10 hidden absolute translate-y-[+65%] divide-y divide-gray-100 border-2 border-[var(--primary-border-color)] rounded-lg shadow w-44 bg-[var(--card-background-color)]"
              >
                <ul
                  class="py-2 text-sm text-gray-700"
                  aria-labelledby="dropdownDefaultButton"
                >
                  <li>
                    <a
                      class="block px-4 py-2 hover:bg-gray-600 text-[var(--primary-font-color)]"
                      (click)="selectOptionLine('hoje')"
                    >
                      Hoje
                    </a>
                  </li>
                  <li>
                    <a
                      class="block px-4 py-2 hover:bg-gray-600 text-[var(--primary-font-color)]"
                      (click)="selectOptionLine('semana')"
                    >
                      Esta semana
                    </a>
                  </li>
                  <li>
                    <a
                      class="block px-4 py-2 hover:bg-gray-600 text-[var(--primary-font-color)]"
                      (click)="selectOptionLine('mes')"
                    >
                      Este mês
                    </a>
                  </li>
                  <li>
                    <a
                      class="block px-4 py-2 hover:bg-gray-600 text-[var(--primary-font-color)]"
                      (click)="selectOptionLine('ano')"
                    >
                      Este ano
                    </a>
                  </li>
                  <li>
                    <a
                      class="block px-4 py-2 hover:bg-gray-600 text-[var(--primary-font-color)]"
                      (click)="selectOptionLine('todo_periodo')"
                    >
                      Todo período
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="line-chart"></div>
          <div
            class="grid grid-cols-1 items-center border-[var(--default-border-color)] border-t dark:border-[var(--default-border-color)] justify-between mt-2.5"
          ></div>
        </div>
      </main>

      <div
        class="grafico-barras w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
      >
        <div
          class="flex justify-between pb-4 mb-4 border-b border-[var(--default-border-color)] dark:border-[var(--default-border-color)]"
        >
          <div class="flex items-center h-8">
            <div
              class="w-10 h-10 rounded-lg flex items-center justify-center me-3"
            >
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 19"
              >
                <path
                  d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"
                />
                <path
                  d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"
                />
              </svg>
            </div>
            <div>
              <h5
                class="leading-none text-xl font-bold text-gray-900 dark:text-white pb-1"
              >
                Total {{ totalTicketsChartBar }}
              </h5>
              <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                Tickets por setor
              </p>
            </div>
          </div>
          <div></div>
        </div>

        <div id="column-chart" class="max-h-64"></div>
        <div
          class="grid grid-cols-1 items-center border-[var(--default-border-color)] border-t dark:border-[var(--default-border-color)] justify-between"
        ></div>
      </div>
    </div>

    <!-- START GRAFICO CIRCULAR -->
    <div class="coluna flex flex-col w-3/12 gap-y-4">
      <div
        class="grafico-circular max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
      >
        <div class="flex justify-between mb-3">
          <div class="flex justify-center items-center">
            <h5
              class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1"
            >
              Tickets por prioridade
            </h5>
            <svg
              data-popover-target="chart-info"
              data-popover-placement="bottom"
              class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"
              />
            </svg>
            <div
              data-popover
              id="chart-info"
              role="tooltip"
              class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
            >
              <div data-popper-arrow></div>
            </div>
          </div>
          <div></div>
        </div>

        <!-- Donut Chart -->
        <div class="py-5" id="donut-chart"></div>

        <div
          class="grid grid-cols-1 items-center border-[var(--default-border-color)] border-t dark:border-[var(--default-border-color)] justify-between"
        >
          <div class="flex relative justify-between items-center pt-5">
            <!-- Button -->
            <button
              id="buttonDonut"
              data-dropdown-toggle="menuDateTimeDonut"
              data-dropdown-placement="bottom"
              type="button"
              class="px-3 py-2 inline-flex items-center text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              (click)="toggleDropdownDonut()"
            >
              Selecione
              <svg
                class="w-2.5 h-2.5 ms-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>

            <!-- Dropdown Menu -->
            <div
              id="menuDateTimeDonut"
              class="bg-[var(--primary-background-color)] z-10 hidden absolute translate-y-[+65%] divide-y divide-gray-100 border-2 border-[var(--primary-border-color)] rounded-lg shadow w-44 bg-[var(--card-background-color)]"
            >
              <ul
                class="py-2 text-sm text-gray-700"
                aria-labelledby="dropdownDefaultButton"
              >
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-[var(--tertiary-highligted-text-color)] text-[var(--primary-font-color)]"
                    (click)="selectOption('hoje')"
                  >
                    Hoje
                  </a>
                </li>
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-[var(--tertiary-highligted-text-color)] text-[var(--primary-font-color)]"
                    (click)="selectOption('semana')"
                  >
                    Está semana
                  </a>
                </li>
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-[var(--tertiary-highligted-text-color)] text-[var(--primary-font-color)]"
                    (click)="selectOption('ano')"
                  >
                    Este ano
                  </a>
                </li>
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-[var(--tertiary-highligted-text-color)] text-[var(--primary-font-color)]"
                    (click)="selectOption('todo_periodo')"
                  >
                    Todo periodo
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="historico max-w-sm w-full rounded-lg shadow bg-[var(--card-background-color)] p-4 md:p-6"
      >
        <div class="flex justify-between mb-3">
          <div class="flex items-center">
            <div class="flex justify-center items-center">
              <h5
                class="text-xl font-bold leading-none text-[var(--primary-font-color)] dark:text-white pe-1"
              >
                Histórico de Tickets
              </h5>
            </div>
          </div>
        </div>

        <div class="blocos bg-[var(--card-background-color)] p-3 rounded-lg">
          <div class="flex flex-col gap-3 mb-2">
            <dl
              class="bg-[var(--card-highlighted-color)] rounded-lg flex flex-col items-center justify-center h-[74px]"
            >
              <dt
                class="text-lg font-semibold w-10 h-10 rounded-full bg-[var(--card-highlighted-color-2)] text-orange-500 text-orange-300 text-md font-medium flex items-center justify-center mb-1"
              >
                {{ abertoCount }}
              </dt>
              <dd class="text-orange-500 text-orange-300 text-md font-medium">
                Abertos
              </dd>
            </dl>
            <dl
              class="bg-[var(--card-highlighted-color)] rounded-lg flex flex-col items-center justify-center h-[74px]"
            >
              <dt
                class="text-lg font-semibold w-10 h-10 rounded-full bg-[var(--card-highlighted-color-2)] text-teal-600 text-md font-medium flex items-center justify-center mb-1"
              >
                {{ andamentoCount }}
              </dt>
              <dd class="text-teal-600 text-md font-medium">Em andamento</dd>
            </dl>
            <dl
              class="bg-[var(--card-highlighted-color)] rounded-lg flex flex-col items-center justify-center h-[74px]"
            >
              <dt
                class="text-lg font-semibold w-10 h-10 rounded-full bg-[var(--card-highlighted-color-2)] text-blue-500 text-md font-medium flex items-center justify-center mb-1"
              >
                {{ resolvidoCount }}
              </dt>
              <dd
                class="bg-[var(--card-highlighted-color)] dark:text-blue-500 text-md font-medium"
              >
                Resolvidos
              </dd>
            </dl>
            <!-- <dl
              class="bg-[var(--card-highlighted-color)] rounded-lg flex flex-col items-center justify-center h-[74px]"
            >
              <dt
                class="text-lg font-semibold w-10 h-10 rounded-full bg-[var(--card-highlighted-color-2)] text-red-500 text-md font-medium flex items-center justify-center mb-1"
              >
                {{ vencidoCount }}
              </dt>
              <dd class="text-red-500 text-md font-medium">Vencidos</dd>
            </dl> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
