<div class="flex flex-col justify-center p-4 w-full">
  <main class="main-content flex flex-col gap-x-6 lg:flex-row justify-center md:gap-y-4">
    <div class="container-large flex w-3/5 flex-col gap-y-4 max-lg:w-4/5">
      <div class="cards flex flex-row justify-between">
        <section
          class="card-item rounded-lg border border-gray-100 bg-white p-6 dark:border-gray-800 dark:bg-gray-900 h-36 w-64"
        >
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">Profit</p>

            <p class="text-2xl font-medium text-gray-900 dark:text-white">
              $240.94
            </p>
          </div>

          <div class="mt-1 flex gap-1 text-green-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
              />
            </svg>

            <p class="flex gap-2 text-xs">
              <span class="font-medium"> 67.81% </span>

              <span class="text-gray-500 dark:text-gray-400">
                Since last week
              </span>
            </p>
          </div>
        </section>

        <section
          class="card-item rounded-lg border border-gray-100 bg-white p-6 dark:border-gray-800 dark:bg-gray-900 h-36 w-64"
        >
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">Profit</p>

            <p class="text-2xl font-medium text-gray-900 dark:text-white">
              $240.94
            </p>
          </div>

          <div class="mt-1 flex gap-1 text-red-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
              />
            </svg>

            <p class="flex gap-2 text-xs">
              <span class="font-medium"> 67.81% </span>
              <span class="text-gray-500 dark:text-gray-400">
                Since last week
              </span>
            </p>
          </div>
        </section>

        <section
          class="card-item rounded-lg border border-gray-100 bg-white p-6 dark:border-gray-800 dark:bg-gray-900 h-36 w-64"
        >
          <div>
            <p class="text-sm text-gray-500 dark:text-gray-400">Profit</p>

            <p class="text-2xl font-medium text-gray-900 dark:text-white">
              $240.94
            </p>
          </div>

          <div class="mt-1 flex gap-1 text-red-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
              />
            </svg>

            <p class="flex gap-2 text-xs">
              <span class="font-medium"> 67.81% </span>
              <span class="text-gray-500 dark:text-gray-400">
                Since last week
              </span>
            </p>
          </div>
        </section>
        <!-- END CARDS -->
      </div>

      <!-- START GRAFICO DE ONDAS -->

      <main class="flex flex-col gap-x-4 w-full">
        <div
          class="grafico-ondas w-full h-8/12 bg-white rounded-lg shadow dark:bg-gray-800 p-2 md:p-4"
        >
          <div class="flex justify-between mb-3">
            <div class="grid gap-4 grid-cols-2">
              <div>
                <h5
                  class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal mb-2"
                >
                  Clicks
                </h5>
                <p
                  class="text-gray-900 dark:text-white text-2xl leading-none font-bold"
                >
                  42,3k
                </p>
              </div>
              <div>
                <h5
                  class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal mb-2"
                >
                  CPC

                  <div
                    data-popover
                    id="cpc-info"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
                  >
                    <div data-popper-arrow></div>
                  </div>
                </h5>
                <p
                  class="text-gray-900 dark:text-white text-2xl leading-none font-bold"
                >
                  $5.40
                </p>
              </div>
            </div>
            <div>
              <button
                id="dropdownDefaultButton"
                data-dropdown-toggle="lastDaysdropdown"
                data-dropdown-placement="bottom"
                type="button"
                class="px-3 py-2 inline-flex items-center text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              >
                Last week
                <svg
                  class="w-2.5 h-2.5 ms-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
              <div
                id="lastDaysdropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
              >
                <ul
                  class="py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownDefaultButton"
                >
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Yesterday</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Today</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 7 days</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 30 days</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 90 days</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="line-chart"></div>
          <div
            class="grid grid-cols-1 items-center border-[var(--default-border-color)] border-t dark:border-[var(--default-border-color)] justify-between mt-2.5"
          ></div>
        </div>
      </main>

      <div
        class="grafico-barras w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
      >
        <div
          class="flex justify-between pb-4 mb-4 border-b border-[var(--default-border-color)] dark:border-[var(--default-border-color)]"
        >
          <div class="flex items-center h-8">
            <div
              class="w-10 h-10 rounded-lg flex items-center justify-center me-3"
            >
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 19"
              >
                <path
                  d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"
                />
                <path
                  d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"
                />
              </svg>
            </div>
            <div>
              <h5
                class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1"
              >
                3.4k
              </h5>
              <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                Tickets por setor
              </p>
            </div>
          </div>
          <div>
            <span
              class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300"
            >
              <svg
                class="w-2.5 h-2.5 me-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13V1m0 0L1 5m4-4 4 4"
                />
              </svg>
              42.5%
            </span>
          </div>
        </div>

        <div id="column-chart" class="max-h-64"></div>
        <div
          class="grid grid-cols-1 items-center border-[var(--default-border-color)] border-t dark:border-[var(--default-border-color)] justify-between"
        ></div>
      </div>
    </div>

    <!-- START GRAFICO CIRCULAR -->
    <div class="coluna flex flex-col w-3/12 gap-y-4">
      <div
        class="grafico-circular max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
      >
        <div class="flex justify-between mb-3">
          <div class="flex justify-center items-center">
            <h5
              class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1"
            >
              Website traffic
            </h5>
            <svg
              data-popover-target="chart-info"
              data-popover-placement="bottom"
              class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"
              />
            </svg>
            <div
              data-popover
              id="chart-info"
              role="tooltip"
              class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
            >
              <div data-popper-arrow></div>
            </div>
          </div>
          <div></div>
        </div>

        <!-- Donut Chart -->
        <div class="py-5" id="donut-chart"></div>

        <div
          class="grid grid-cols-1 items-center border-[var(--default-border-color)] border-t dark:border-[var(--default-border-color)] justify-between"
        >
          <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            <button
              id="dropdownDefaultButton"
              data-dropdown-toggle="lastDaysdropdown"
              data-dropdown-placement="bottom"
              class="text-center text-sm p-1 font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
              type="button"
            >
              Last 7 days
              <svg
                class="w-2.5 m-2.5 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              id="lastDaysdropdown"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownDefaultButton"
              >
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Yesterday</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Today</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 7 days</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 30 days</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 90 days</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="max-w-sm w-full bg-white rounded-lg shadow bg-[var(--card-background-color)] p-4 md:p-6"
      >
        <div class="flex justify-between mb-3">
          <div class="flex items-center">
            <div class="flex justify-center items-center">
              <h5
                class="text-xl font-bold leading-none text-[var(--primary-font-color)] dark:text-white pe-1"
              >
                Your team's progress
              </h5>
            </div>
          </div>
        </div>

        <div class="blocos bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
          <div class="grid grid-cols-3 gap-3 mb-2">
            <dl
              class="bg-orange-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
            >
              <dt
                class="w-8 h-8 rounded-full bg-orange-100 dark:bg-gray-500 text-orange-600 dark:text-orange-300 text-sm font-medium flex items-center justify-center mb-1"
              >
                12
              </dt>
              <dd
                class="text-orange-600 dark:text-orange-300 text-sm font-medium"
              >
                To do
              </dd>
            </dl>
            <dl
              class="bg-teal-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
            >
              <dt
                class="w-8 h-8 rounded-full bg-teal-100 dark:bg-gray-500 text-teal-600 dark:text-teal-300 text-sm font-medium flex items-center justify-center mb-1"
              >
                23
              </dt>
              <dd class="text-teal-600 dark:text-teal-300 text-sm font-medium">
                In progress
              </dd>
            </dl>
            <dl
              class="bg-blue-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
            >
              <dt
                class="w-8 h-8 rounded-full bg-blue-100 dark:bg-gray-500 text-blue-600 dark:text-blue-300 text-sm font-medium flex items-center justify-center mb-1"
              >
                64
              </dt>
              <dd class="text-blue-600 dark:text-blue-300 text-sm font-medium">
                Done
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
