body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px 0;
  background-color: var(--primary-background-color);
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.header {
  height: 50px;
  margin-right: 20px;
}

h2 {
  color: var(--primary-font-color);
}

select {
  color: var(--primary-font-color);
}

option {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}

span {
  color: var(--primary-font-color);
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--primary-font-color);
}

select,
input,
textarea {
  border-color: var(--primary-border-color);
}

select:focus,
input:focus,
textarea:focus {
  border-color: var(--secundary-border-color);
}

select,
input,
input::placeholder,
textarea {
  border-color: var(--primary-border-color);
  color: var(--primary-font-color);
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
}

textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 120px;
  max-height: 170px;
}

.select-group {
  display: flex;
  width: 100%;
  gap: 16px;
}

.select-container {
  flex: 1;
}

.custom-file-upload {
  height: auto;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: 3px dashed var(--primary-border-color);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px var(--primary-shadow-color);
  margin-bottom: 12px;
}

.custom-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-upload .icon svg {
  height: 40px;
  fill: var(--primary-font-color);
}

.custom-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-upload .text span {
  font-weight: 400;
  color: var(--primary-font-color);
}

.custom-file-upload input {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.buttons .send {
  background-color: rgb(19, 180, 255);
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons .send:hover {
  background-color: rgb(0, 174, 255);
}

@media screen and (max-width: 768px) {
  .formulario {
    width: 420px;
  }
}

@media screen and (max-width: 520px) {
  .formulario {
    width: 250px;
  }

  .select-group {
    flex-direction: column;
    gap: 0;
  }
}
