
<div style="width:100%;color:#68778d;font-family:proxima-nova,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;margin:0;padding:0">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" style="background-color:#ffffff;float:unset" border="0" valign="top" bgcolor="#FFFFFF">
              <tbody>
                <tr>
                  <td>
                   <table align="center" style="background-color:#ffffff;border-spacing:20px 0;max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top"">
                    <tbody>
                      <tr>
                        <td>
                          <a class="logo" href="" rel="noopener noreferrer" style="display:block;font-size:0;line-height:1;margin-top:40px;color:#458bcc;font-weight:600;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=""=gmail&amp;">

                            <img>

                          </a>
                        </td>
                  </tr>
              </tbody>
          </table>

          <table align="center" style="background-repeat:no-repeat;float:unset" width="100%" cellpadding="0" cellspacing="0" border="0" valign="top">
            <tbody>
             <tr>
              <td>
                <table align="center" bgcolor="" style="margin-top:56px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
             <tbody>
            <tr>
              <td>
                <table align="center" bgcolor="#FFFFFF" style="border-spacing:20px 0;max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
                          <tbody>
                            <tr>
                              <td>
                                <div class="">
                                  <div>
                                    <h1 style="color:#3c4a5b;font-weight:bold;font-size:32px;line-height:43px;margin:0">Sua Conta Está Pronta: Detalhes de Acesso</h1>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="" style="border-spacing:20px 0;max-width:640px;width:100%;margin-top:20px;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
                          <tbody>
                            <tr>
                              <td>
                                <p style="margin:0">Olá,</p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="" style="border-spacing:20px 0;max-width:640px;width:100%;margin-top:20px;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <div class="">
                          <div>
                            <p style="margin:0">Sua conta foi criada com sucesso! e já pode ser utilizada.<br> Confira suas credenciais abaixo.</p>
                            <p style="margin:16px 0 0"></p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="" style="display: flex; flex-direction:column; border-spacing:20px 0;max-width:640px;width:100%;margin-top:20px;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table style="display: flex; align-items: center; justify-content: center;" width="100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
                          <tbody>
                            <tr>
                                  <div style="display: flex; justify-content:center; margin:0 32px; flex-direction:column; gap: 8px;">
                                      <span style="display: flex; align-items: center;"> E-mail:
                                        <div style="display:flex; justify-content:center; align-items:center;  background:#faf9fa;border:1px solid #dad8de;text-align:center;padding:5px;margin:0 0 5px 5px;font-size:1.1rem;line-height:1.3;border-radius: 5px;width:250px">{{destinatario}}</div>
                                      </span>

                                      <span style="display: flex; align-items: center;"> Senha:
                                        <div style="display:flex; justify-content:center; align-items:center;  background:#faf9fa;border:1px solid #dad8de;text-align:center;padding:5px;margin:0 0 5px 5px;font-size:1.1rem;line-height:1.3;border-radius: 5px;width:250px">{{codigo}}</div>
                                      </span>

                                    </div>
                                  </div>
                                <div style="text-align:left;width:100%" align="left"><span style="display:none">
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="m_4451988621080153835uph-slice" style="border-spacing:20px 0;max-width:640px;width:100%;margin-top:20px;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
                          <tbody>
                            <tr>
                              <td>
                                <div style="margin-bottom:14px">
                                  <div class="m_4451988621080153835uph-text-slice-content">
                                    <div>
                                      <p style="margin:0">Atenciosamente,</p>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <p style="margin:0">Equipe Ticket Tower</p>
                                  <p style="font-size:14px;font-weight:700;margin:8px 0 0"></p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" style="max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table align="center" class="m_4451988621080153835uph-slice" style="border-spacing:20px 0;margin-top:20px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                          <tbody>
                            <tr>
                              <td style="border-top-width:1px;border-top-color:#e4eaf2;border-top-style:solid">
                                <table class="m_4451988621080153835uph-tip" cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:left;margin-bottom:56px;margin-top:56px;width:100%">
                                  <tbody>
                                    <tr valign="top">
                                      <td><img alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NZrHSl1KyHMgcBOc5BoKnmZ1CUlaCcqpNemIZKrtmT0-CDlBVS-iqUH-Z140BXLPaBaXkYZCOuEnGLC9YqiEc03hNEesWPtYMNBRroRq9n4iL2EUbDSwb6mm3Qc66C0x5hRGDBpM08CbzDc9E_y47gF2s1FXWHajLyIPhoql3js=s0-d-e1-ft#https://images.prismic.io/uphold/e6eed66d5d91d973e6348719d21c7ec597f7f5ff_support.png?auto=compress,format" width="32" height="32" style="display:block;outline:none;text-decoration:none;border:none" class="CToWUd" data-bit="iit"></td>
                                      <td style="padding-left:20px"><span style="display:block;font-weight:bold;line-height:24px;margin-bottom:8px">Precisa de ajuda ?</span><span style="font-size:14px;line-height:20px"><div class="m_4451988621080153835uph-text-slice-content"><div><p style="margin:0">Confira nosso <a href="{}" rel="noopener noreferrer" style="color:#0499ff;font-weight:600;text-decoration:none">FAQs</a> ou mais informações na documentação <a href="{}" rel="noopener noreferrer" style="color:#0499ff;font-weight:600;text-decoration:none" target="_blank">aqui</a>.</p></div></div></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table bgcolor="#F5F9FC" style="width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
  <tbody>
    <tr>
      <td>
        <table align="center" style="border-spacing:20px 40px;color:#68778d;font-size:12px;letter-spacing:0.8px;max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
          <tbody>
            <tr>
              <td>
                <table class="m_4451988621080153835uph-footer-address m_4451988621080153835uph-footer-text" style="float:left;max-width:350px;width:100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <div class="m_4451988621080153835uph-text-slice-content">
                          <div>
                            <p style="font-size:12px;letter-spacing:0.4px;line-height:21px;margin:0"><strong>{{year}} Ticket Tower.</strong></p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>

                  </tbody>
                </table>
                <table style="color:#68778d;font-size:12px;letter-spacing:0.8px;float:unset" width="100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                  <tbody>
                    <tr>
                      <td class="m_4451988621080153835uph-footer-text">
                        <table style="display:block;height:24px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                          <tbody></tbody>
                        </table>
                        <div class="">


    <div class=""><p style="font-size:12px;letter-spacing:0.4px;line-height:21px;margin:0">This e-mail message and any attachments are confidential. Dissemination, distribution or copying of this e-mail or any attachments by anyone other than the intended recipient is prohibited. If you are not the intended recipient destroy all copies of this e-mail and any attachments.


                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
