
<div style="width:100%;color:#68778d;font-family:proxima-nova,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;margin:0;padding:0">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" style="background-color:#ffffff;float:unset" border="0" valign="top" bgcolor="#FFFFFF">
              <tbody>
                <tr>
                  <td>
                   <table align="center" style="background-color:#ffffff;border-spacing:20px 0;max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                    <tbody>
                      <tr>
                        <td>
                          <a class="logo" href="" rel="noopener noreferrer" style="display:block;font-size:0;line-height:1;margin-top:40px;color:#458bcc;font-weight:600;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=""=gmail&amp;">

                            <img>

                          </a>
                        </td>
                  </tr>
              </tbody>
          </table>

          <table align="center" style="background-repeat:no-repeat;float:unset" width="100%" cellpadding="0" cellspacing="0" border="0" valign="top">
            <tbody>
             <tr>
              <td>
                <table align="center" bgcolor="" style="margin-top:56px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
             <tbody>
            <tr>
              <td>
                <table align="center" bgcolor="#FFFFFF" style="border-spacing:20px 0;max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
                          <tbody>
                            <tr>
                              <td>
                                <div class="">
                                  <div>
                                    <h1 style="color:#3c4a5b;font-weight:bold;font-size:32px;line-height:43px;margin:0">{{titulo}}</h1>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="" style="border-spacing:20px 0;max-width:640px;width:100%;margin-top:20px;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
                          <tbody>
                            <tr>
                              <td>
                                <p style="margin:0">Olá,</p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="" style="border-spacing:20px 0;max-width:640px;width:100%;margin-top:20px;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <div class="">
                          <div>
                            <p style="margin:0">{{mensagem}}</p>
                            <p style="margin:16px 0 0"></p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="m_4451988621080153835uph-slice" style="border-spacing:20px 0;max-width:640px;width:100%;margin-top:20px;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:unset">
                          <tbody>
                            <tr>
                              <td>
                                <div style="margin-bottom:14px">
                                  <div class="m_4451988621080153835uph-text-slice-content">
                                    <div>
                                      <p style="margin:0">Atenciosamente,</p>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <p style="margin:0">Equipe Ticket Tower</p>
                                  <p style="font-size:14px;font-weight:700;margin:8px 0 0"></p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="center" style="max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <table align="center" class="m_4451988621080153835uph-slice" style="border-spacing:20px 0;margin-top:20px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
                          <tbody>
                            <tr>
                              <td style="border-top-width:1px;border-top-color:#e4eaf2;border-top-style:solid">
                                <table class="m_4451988621080153835uph-tip" cellpadding="0" cellspacing="0" border="0" align="left" valign="top" style="float:left;margin-bottom:56px;margin-top:56px;width:100%">
                                  <tbody>
                                    <tr valign="top">
                                      <td>

                                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M201.89,54.66A103.43,103.43,0,0,0,128.79,24H128A104,104,0,0,0,24,128v56a24,24,0,0,0,24,24H64a24,24,0,0,0,24-24V144a24,24,0,0,0-24-24H40.36A88.12,88.12,0,0,1,190.54,65.93,87.39,87.39,0,0,1,215.65,120H192a24,24,0,0,0-24,24v40a24,24,0,0,0,24,24h24a24,24,0,0,1-24,24H136a8,8,0,0,0,0,16h56a40,40,0,0,0,40-40V128A103.41,103.41,0,0,0,201.89,54.66ZM64,136a8,8,0,0,1,8,8v40a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V136Zm128,56a8,8,0,0,1-8-8V144a8,8,0,0,1,8-8h24v56Z"></path></svg>

                                      </td>
                                      <td style="padding-left:20px"><span style="display:block;font-weight:bold;line-height:24px;margin-bottom:8px">Precisa de ajuda ?</span><span style="font-size:14px;line-height:20px"><div class="m_4451988621080153835uph-text-slice-content"><div><p style="margin:0">Confira nosso <a href="{http://localhost:4200/#faq}" rel="noopener noreferrer" style="color:#0499ff;font-weight:600;text-decoration:none">FAQs</a> ou mais informações na documentação <a href="{http://localhost:4200/documentacao}" rel="noopener noreferrer" style="color:#0499ff;font-weight:600;text-decoration:none" target="_blank">aqui</a>.</p></div></div></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table bgcolor="#F5F9FC" style="width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
  <tbody>
    <tr>
      <td>
        <table align="center" style="border-spacing:20px 40px;color:#68778d;font-size:12px;letter-spacing:0.8px;max-width:640px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" valign="top">
          <tbody>
            <tr>
              <td>
                <table class="m_4451988621080153835uph-footer-address m_4451988621080153835uph-footer-text" style="float:left;max-width:350px;width:100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                  <tbody>
                    <tr>
                      <td>
                        <div class="m_4451988621080153835uph-text-slice-content">
                          <div>
                            <p style="font-size:12px;letter-spacing:0.4px;line-height:21px;margin:0"><strong>{{year}} Ticket Tower.</strong></p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>

                  </tbody>
                </table>
                <table style="color:#68778d;font-size:12px;letter-spacing:0.8px;float:unset" width="100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                  <tbody>
                    <tr>
                      <td class="m_4451988621080153835uph-footer-text">
                        <table style="display:block;height:24px;width:100%;float:unset" cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                          <tbody></tbody>
                        </table>
                        <div class="">


    <div class=""><p style="font-size:12px;letter-spacing:0.4px;line-height:21px;margin:0">This e-mail message and any attachments are confidential. Dissemination, distribution or copying of this e-mail or any attachments by anyone other than the intended recipient is prohibited. If you are not the intended recipient destroy all copies of this e-mail and any attachments.


                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
