<section>
  <div class="flex justify-center flex-col w-1/4">
    <span class="text-center">Login</span><br />
    <input
      type="email"
      name="Email"
      [(ngModel)]="loginObj.email"
      placeholder="Email"
      required
    /><br />
    <input
      type="password"
      name="Senha"
      [(ngModel)]="loginObj.senha"
      placeholder="Senha"
      required
    /><br />
    <button class="h-10 w-20 border-border border-2" (click)="Login()">
      Entrar
    </button>
  </div>
</section>
