<section>
  <div class="flex justify-center flex-col items-center w-1/3">
    <img src="../../../assets/icone.ico" alt="Logo" class="mb-6" width="100" height="auto">
    <span class="text-xl font-bold mb-4">Login</span>
    <div class="flex flex-col w-full max-w-sm">
      <div class="form-control">
        <input
          type="text"
          name="email"
          [(ngModel)]="loginObj.email"
          required
        />
        <label>
          <span style=>Email</span>
        </label>
      </div>
      <div class="form-control">
        <input
          type="password"
          name="senha"
          [(ngModel)]="loginObj.senha"
          required
        />
        <label>
          <span style=>Senha</span>
        </label>
      </div>
      <button class="btn-login" (click)="Login()">Entrar</button>
    </div>
  </div>
</section>
