<body class="bg-[var(--primary-background-color)]">
<section class="py-14">
  <div class="max-w-screen-2xl mx-auto px-4 text-center md:px-8">
      <div class="max-w-2xl mx-auto">
          <h3 class="text-[var(--primary-font-color)] text-2xl font-semibold sm:text-3xl mb-8">
            Acordo de Nível de Serviço (SLA) para o Ticket Tower - Sistema de Service Desk Open Source
          </h3>


          <h4 class="text-left text-[var(--primary-highlighted-text-color)] text-lg font-semibold mt-4">
            1. Visão Geral
          </h4>
          <p class="text-[var(--primary-font-color)] mt-3 text-justify">
            Este Acordo de Nível de Serviço (SLA) rege o uso do software Ticket Tower disponibilizado como open source e gratuito sob a licença MIT. Este SLA não implica compromisso de suporte, manutenção, ou atualizações frequentes por parte dos desenvolvedores. O uso do software é oferecido como está, e os desenvolvedores não assumem responsabilidade por adequação, desempenho, ou compatibilidade com ambientes específicos dos usuários.
          </p>


          <h4 class="text-left text-[var(--primary-highlighted-text-color)] text-lg font-semibold mt-4">
            2. Escopo
          </h4>
          <p class="text-[var(--primary-font-color)] mt-3 text-justify">
            • O Ticket Tower é fornecido de forma gratuita para empresas que desejem utilizar um sistema de Service Desk para a gestão de chamados.
            <br><br>
            • O software é distribuído sob a licença MIT, permitindo uso, cópia, modificação, e distribuição livre, com as devidas atribuições aos autores originais.
          </p>


          <h4 class="text-left text-[var(--primary-highlighted-text-color)] text-lg font-semibold mt-4">
            3. Serviços Não Incluídos
          </h4>
          <p class="text-[var(--primary-font-color)] mt-3 text-justify">
            Os desenvolvedores não se comprometem a prestar os seguintes serviços:
            <br><br>
            • Suporte técnico contínuo: Não oferecemos suporte ativo ou consultoria para instalação, configuração ou resolução de problemas. Qualquer suporte necessário deverá ser acordado separadamente, mediante pagamento e valores a serem negociados.
            <br><br>
            • Manutenção e atualizações frequentes: Embora o software possa receber melhorias, novas funcionalidades ou correções de bugs eventualmente, não há garantia de atualizações periódicas ou manutenção ativa do código.
            <br><br>
            • Infraestrutura e hospedagem: Os desenvolvedores não são responsáveis por fornecer infraestrutura, servidores ou qualquer serviço de hospedagem relacionado ao uso do Ticket Tower. Cabe aos usuários configurar e gerenciar seu próprio ambiente de execução.
          </p>


          <h4 class="text-left text-[var(--primary-highlighted-text-color)] text-lg font-semibold mt-4">
            4. Suporte Adicional (a combinar)
          </h4>
          <p class="text-[var(--primary-font-color)] mt-3 text-justify">
            Caso o usuário precise de suporte técnico, consultoria ou manutenção, esses serviços poderão ser oferecidos mediante acordo comercial separado, com valores e condições a serem discutidos entre as partes. Estes serviços incluem, mas não estão limitados a:
            <br><br>
            • Configuração e instalação do sistema.
            <br>
            • Suporte técnico dedicado.
            <br>
            • Personalizações no sistema de acordo com as necessidades do cliente.
          </p>


          <h4 class="text-left text-[var(--primary-highlighted-text-color)] text-lg font-semibold mt-4">
            5. Isenção de Responsabilidade
          </h4>
          <p class="text-[var(--primary-font-color)] mt-3 text-justify">
            Os desenvolvedores não se responsabilizam por:
            <br>
            Qualquer dano indireto, acidental, ou consequente resultante do uso ou incapacidade de usar o software.
            Perda de dados ou problemas relacionados à infraestrutura dos usuários.
          </p>

          <h4 class="text-left text-[var(--primary-highlighted-text-color)] text-lg font-semibold mt-4">
            6. Aceitação
          </h4>
          <p class="text-[var(--primary-font-color)] mt-3 text-justify">
            O uso do Ticket Tower implica na aceitação dos termos estabelecidos neste SLA, bem como dos termos da licença MIT sob a qual o software é distribuído. Ao utilizar o sistema, o usuário concorda que o software é fornecido sem garantias e que qualquer serviço adicional será acordado separadamente.
          </p>
      </div>
  </div>
</section>

<app-footer></app-footer>

</body>
