<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing.component.css" />
    <link rel="stylesheet" href="fonts.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <header>
      <div id="title">
        <h1>
          Ticket <br />
          Tower
        </h1>
        <article>
          <img id="imagenzinha" src="../../../assets/icone.ico" alt="tonhao" />
        </article>
      </div>

      <ul>
        <a href="#"><li>Inicio</li></a>
        <a href="#"><li>Documentação</li></a>
        <a href="#faq"><li>FAQ</li></a>
        <a href="/login" id="loginbtn"><li>Login</li></a>
      </ul>
    </header>
    <main>
      <section id="primeira">
        <aside>
          <span><h2>Quem</h2></span>
          <h2>somos nós</h2>
          <p>
            Somos uma equipe de desenvolvedores comprometidos em criar soluções que facilitem
            o dia a dia das pequenas empresas. Nosso projeto mais recente é um protótipo de Service Desk
            desenvolvido com Angular, TypeScript e Nestjs, projetado para gerenciar chamados e otimizar o atendimento ao cliente.
            Acreditamos no poder do código aberto e na colaboração.
            Por isso, disponibilizamos nosso protótipo de forma gratuita, permitindo que outras empresas
            e desenvolvedores possam utilizá-lo, adaptá-lo e melhorá-lo conforme suas necessidades.
          </p>
        </aside>
        <article id="imagem1">
          <img src="../../../assets/landingpageimg.png" alt="TicketTower" />
        </article>
      </section>

      <section id="terceira">
        <div id="faq" class="faq-body">
          <div class="faq-header">
            <span><h3 class="faq-title">Perguntas</h3></span>
            <h3 class="faq-title">Frequentes</h3>
            <div class="seperator"></div>
          </div>
          <div class="faq-list">
            <div>
              <details open>
                <summary title="?">
                  O que é o Service Desk desenvolvido por vocês?
                </summary>
                <p class="faq-content">
                  Nosso Service Desk é um sistema de gerenciamento de chamados projetado para pequenas empresas.
                  Ele ajuda a organizar, monitorar e resolver problemas de atendimento ao cliente de maneira eficiente
                </p>
              </details>
            </div>
            <div>
              <details>
                <summary title="?">
                  Como posso acessar o protótipo do Service Desk?
                </summary>
                <p class="faq-content">
                  Você pode acessar o protótipo do Service Desk através do nosso repositório no GitHub.
                  O link para o repositório está disponível na nossa página inicial.
                </p>
              </details>
            </div>
            <div>
              <details>
                <summary title="Pedro vai conseguir se formar?">
                  O software é realmente gratuito?
                </summary>
                <p class="faq-content">
                  Sim, o nosso protótipo de Service Desk é totalmente gratuito e de código aberto.
                   Você pode usá-lo, modificá-lo e distribuí-lo conforme necessário.
                </p>
              </details>
            </div>
            <div>
              <details>
                <summary title="?">
                  Quem pode usar o Service Desk?
                </summary>
                <p class="faq-content">
                  O Service Desk foi desenvolvido pensando nas pequenas empresas,
                  mas qualquer pessoa ou organização pode utilizá-lo. Ele é uma ferramenta versátil
                  e pode ser adaptada para diversas necessidades.
                </p>
              </details>
            </div>
            <div>
              <details>
                <summary title="?">
                  Vocês oferecem suporte técnico?
                </summary>
                <p class="faq-content">
                  Por ser um projeto open source, não oferecemos suporte técnico formal. No entanto, estamos sempre disponíveis para ajudar através do GitHub e outras plataformas de comunicação da comunidade.
                </p>
              </details>
            </div>
            <div>
              <details>
                <summary title="?">
                  Quais são as principais funcionalidades do Service Desk?
                </summary>
                <p class="faq-content">
                  As principais funcionalidades incluem gestão de tickets, acompanhamento de chamados, e geração de relatórios. O sistema foi projetado para ser intuitivo e fácil de usar, proporcionando uma experiência eficiente para os usuários.
                </p>
              </details>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
