<head>
    <link rel="stylesheet" href="landing.component.css">
    <link rel="stylesheet" href="fonts.css">
</head>
<body>
    <header>
        <div id="title">
            <h1>Ticket</h1>
            <h1>Tower</h1>
        </div>
        <article>
            <img id="imagenzinha" src="images/icone.ico" alt="tonhao">
        </article>
        <ul>
            <a href="#"><li>Inicio</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>FAQ</li></a>
            <a href="/login" id="loginbtn"><li>Login</li></a>
        </ul>
    </header>
    <main>
        <aside>
            <span><h2>Quem</h2></span>
            <h2>somos nós</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </aside>
        <article>
            <img src="images/about-img.png" alt="TicketTower">
        </article>
    </main>
</body>