<body>
  <app-header-landing></app-header-landing>
  <main>
    <section id="primeira">
      <aside>
        <span><h2>Quem</h2></span>
        <h2>somos nós</h2>
        <p style="text-align: justify">
          Somos uma equipe dedicada a desenvolver soluções que simplificam a
          gestão e o atendimento ao cliente para pequenas empresas. Nosso
          projeto é um protótipo de Service Desk, criado para gerenciar chamados
          internos e externos. <br />
          Compreendemos a importância da inovação e da colaboração na evolução
          dos negócios. Por isso, decidimos disponibilizar nosso protótipo
          gratuitamente, permitindo que outras empresas e desenvolvedores possam
          utilizá-lo, adaptá-lo e aprimorá-lo de acordo com suas necessidades
          específicas.
        </p>
      </aside>
      <article>
        <img
          src="../../../../assets/images/duotone.png"
          class="imagem-destaque object-cover rounded-xl sm:w-full h-44 md:w-full h-44 xl:h-full w-96 2xl:h-full w-96"
          alt="imagem"
        />
      </article>
    </section>

    <section id="terceira">
      <div id="faq" class="faq-body">
        <div class="faq-header">
          <span><h3 class="faq-title">Perguntas</h3></span>
          <h3 class="faq-title">Frequentes</h3>
          <div class="seperator"></div>
        </div>
        <div class="faq-list">
          <div>
            <details open>
              <summary title="?">
                O que é o Service Desk desenvolvido por vocês?
              </summary>
              <p class="faq-content">
                Nosso Service Desk é um sistema de gerenciamento de chamados
                projetado para pequenas empresas. Ele ajuda a organizar,
                monitorar e resolver problemas de atendimento ao cliente de
                maneira eficiente
              </p>
            </details>
          </div>
          <div>
            <details>
              <summary title="?">
                Como posso acessar o protótipo do Service Desk?
              </summary>
              <p class="faq-content">
                Você pode acessar o protótipo do Service Desk através do nosso
                repositório no GitHub. O link para o repositório está disponível
                na nossa página inicial.
              </p>
            </details>
          </div>
          <div>
            <details>
              <summary title="?">O software é realmente gratuito?</summary>
              <p class="faq-content">
                Sim, o nosso protótipo de Service Desk é totalmente gratuito e
                de código aberto. Você pode usá-lo, modificá-lo e distribuí-lo
                conforme necessário.
              </p>
            </details>
          </div>
          <div>
            <details>
              <summary title="?">Quem pode usar o Service Desk?</summary>
              <p class="faq-content">
                O Service Desk foi desenvolvido pensando nas pequenas empresas,
                mas qualquer pessoa ou organização pode utilizá-lo. Ele é uma
                ferramenta versátil e pode ser adaptada para diversas
                necessidades.
              </p>
            </details>
          </div>
          <div>
            <details>
              <summary title="?">Vocês oferecem suporte técnico?</summary>
              <p class="faq-content">
                Por ser um projeto open source, não oferecemos suporte técnico
                formal. No entanto, estamos sempre disponíveis para ajudar
                através do GitHub e outras plataformas de comunicação da
                comunidade.
              </p>
            </details>
          </div>
          <div>
            <details>
              <summary title="?">
                Quais são as principais funcionalidades do Service Desk?
              </summary>
              <p class="faq-content">
                As principais funcionalidades incluem gestão de tickets,
                acompanhamento de chamados, e geração de relatórios. O sistema
                foi projetado para ser intuitivo e fácil de usar, proporcionando
                uma experiência eficiente para os usuários.
              </p>
            </details>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</body>
