.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.conteudo {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}

.title h2 {
  font-weight: 700;
  font-size: 1.2rem;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  max-width: 400px;
  margin: 0 20px;
  width: 30%;
}

input[type="text"],
input[type="email"],
input[type="password"],
#funcionario-permissao,
select {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 300px;
  max-height: 35px;
}

input[type="text"],
input[type="email"],
input[type="password"],
#funcionario-permissao,
select :focus {
  outline: none;
}

select {
  cursor: pointer;
}

.form-section h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
