<head>
  <link rel="stylesheet" href="cadastro.component.css" />
  <title>Cadastro</title>
</head>
<body>
  <div class="container">
    <!-- <h1>Cadastro</h1> -->
    <form>
      <label for="type" class="text-nowrap text-center"
        >Tipo de cadastro:</label
      >
      <select id="type" name="type" [(ngModel)]="selectedType">
        <option value="">--Selecione--</option>
        <option value="empresa">Empresa</option>
        <option value="cliente">Cliente</option>
        <option value="setor">Setor</option>
        <option value="funcionario">Funcionário</option>
      </select>

      <div *ngIf="selectedType === 'empresa'" class="conteudo">
        <div id="empresa" class="form-section">
          <div class="title">
            <h2>Cadastro de Empresa</h2>
          </div>

          <div class="flex flex-row justify-center">
            <label for="empresa-nome"
              >Nome:
              <input type="text" id="empresa-nome" name="empresa-nome" />
            </label>

            <label for="empresa-email"
              >Email:
              <input type="email" id="empresa-email" name="empresa-email" />
            </label>
          </div>

          <div class="flex flex-row justify-center">
            <label for="empresa-cnpj"
              >CNPJ:
              <input
                type="text"
                id="empresa-cnpj"
                name="empresa-cnpj"
                mask="00.000.000/0000-00"
              />
            </label>

            <label for="empresa-cidade"
              >Cidade:
              <input type="text" id="empresa-cidade" name="empresa-cidade" />
            </label>
          </div>

          <div class="flex flex-row justify-center">
            <label for="empresa-numero"
              >Número:
              <input type="text" id="empresa-numero" name="empresa-numero" />
            </label>

            <label for="empresa-bairro"
              >Bairro:
              <input type="text" id="empresa-bairro" name="empresa-bairro" />
            </label>
          </div>

          <div class="flex flex-row justify-center">
            <label for="empresa-cep"
              >CEP:
              <input
                type="text"
                id="empresa-cep"
                name="empresa-cep"
                mask="00000-000"
              />
            </label>

            <label for="empresa-rua"
              >Rua:
              <input type="text" id="empresa-rua" name="empresa-rua" />
            </label>
          </div>

          <div class="flex flex-row justify-center">
            <label for="empresa-estado"
              >Estado:
              <input type="text" id="empresa-estado" name="empresa-estado" />
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="selectedType === 'cliente'" class="conteudo">
        <div id="cliente" class="form-section">
          <div class="title">
            <h2>Cadastro de Cliente</h2>
          </div>

          <div class="flex flex-row justify-center">
            <label for="cliente-nome"
              >Nome:
              <input type="text" id="cliente-nome" name="cliente-nome" />
            </label>

            <label for="cliente-email"
              >Email:
              <input type="email" id="cliente-email" name="cliente-email" />
            </label>
          </div>

          <div class="flex flex-row justify-center">
            <label for="cliente-celular"
              >Celular:
              <input
                type="text"
                id="cliente-celular"
                name="cliente-celular"
                mask="(00) 00000-0000"
              />
            </label>

            <label for="cliente-empresa"
              >Empresa:
              <select id="cliente-empresa" name="cliente-empresa">
                <option value="">--Selecione--</option>
                <!-- Adicione opções de empresa aqui -->
              </select>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="selectedType === 'setor'" class="conteudo">
        <div id="setor" class="form-section">
          <div class="title">
            <h2>Cadastro de Setor</h2>
          </div>
          <div class="flex flex-row justify-center">
            <label for="setor-nome"
              >Nome:
              <input type="text" id="setor-nome" name="setor-nome" />
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="selectedType === 'funcionario'" class="conteudo">
        <div id="funcionario" class="form-section">
          <div class="title">
            <h2>Cadastro de Funcionário</h2>
          </div>
          <div class="flex flex-row justify-center">
            <label for="funcionario-nome"
              >Nome:
              <input
                type="text"
                id="funcionario-nome"
                name="funcionario-nome"
              />
            </label>

            <label for="funcionario-email"
              >Email:
              <input
                type="email"
                id="funcionario-email"
                name="funcionario-email"
              />
            </label>
          </div>

          <div class="flex flex-row justify-center">
            <label for="funcionario-permissao"
              >Permissão:
              <select id="funcionario-permissao" name="funcionario-permissao">
                <!-- <option value="">--Selecione--</option> -->
                <option *ngFor="let valor of enumValues" [value]="valor">
                  {{ valor }}
                </option>
              </select>
            </label>

            <label for="funcionario-celular"
              >Celular:
              <input
                type="text"
                id="funcionario-celular"
                name="funcionario-celular"
                mask="(00) 00000-0000"
              />
            </label>
          </div>

          <div class="flex flex-row justify-center">
            <label for="funcionario-setor"
              >Setor:
              <select id="funcionario-setor" name="funcionario-setor">
                <option value="">--Selecione--</option>
                <!-- Adicione opções de setor aqui -->
              </select>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="selectedType && selectedType !== '--Selecione--'">
        <button
          type="submit"
          class="bg-gradient-to-r from-cyan-500 to-blue-600 hover:from-cyan-600 hover:to-blue-700 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-all duration-500 ease-in-out hover:scale-110 hover:brightness-110"
        >
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</body>
