<hlm-table class="flex items-center justify-center p-3">
  <hlm-trow class="flex justify-center gap-x-5">
    <hlm-th>TICKET</hlm-th>
    <hlm-th>STATUS</hlm-th>
    <hlm-th>PRIORIDADE</hlm-th>
    <hlm-th>DATA DE ABERTURA</hlm-th>
    <hlm-th>PRAZO</hlm-th>
  </hlm-trow>
  <hlm-trow class="flex justify-center gap-x-12">
    <hlm-th class="text-zinc-950">INV001</hlm-th>
    <hlm-th class="text-zinc-950">Ativo</hlm-th>
    <hlm-th class="text-zinc-950">Normal</hlm-th>
    <hlm-th class="text-zinc-950">14/04/2024</hlm-th>
    <hlm-th class="text-zinc-950">20/04/2024</hlm-th>
  </hlm-trow>
  <hlm-trow class="flex justify-center gap-x-12">
    <hlm-th class="text-zinc-950">INV001</hlm-th>
    <hlm-th class="text-zinc-950">Ativo</hlm-th>
    <hlm-th class="text-zinc-950">Normal</hlm-th>
    <hlm-th class="text-zinc-950">14/04/2024</hlm-th>
    <hlm-th class="text-zinc-950">20/04/2024</hlm-th>
  </hlm-trow>
  <hlm-trow class="flex justify-center gap-x-12">
    <hlm-th class="text-zinc-950">INV001</hlm-th>
    <hlm-th class="text-zinc-950">Ativo</hlm-th>
    <hlm-th class="text-zinc-950">Normal</hlm-th>
    <hlm-th class="text-zinc-950">14/04/2024</hlm-th>
    <hlm-th class="text-zinc-950">20/04/2024</hlm-th>
  </hlm-trow>
</hlm-table>
