.pagination {
  color: var(--primary-font-color);
}

.pagination a:hover {
  background-color: var(--tertiary-background-color);
}

.pagination a {
  border-color: var(--primary-border-color);
}

thead {
  background-color: var(--primary-background-color);
}

table {
  color: var(--primary-font-color);
  /* border-color: var(--primary-border-color); */
}

table,
thead,
th,
tr,
td,
.table-border {
  border-color: var(--primary-border-color);
}

h3 {
  color: var(--primary-font-color);
}

.button-adotar {
  color: var(--secundary-button-text-color);
}

.button-gerenciar {
  color: var(--primary-font-color);
}

.button-adotar:hover,
.button-gerenciar:hover {
  background-color: var(--tertiary-button-background-color);
}

input {
  color: var(--primary-font-color);
  border-color: var(--primary-border-color);
}

input:focus {
  border-color: var(--secundary-border-color);
}
