<table class="p-3">
  <thead>
    <tr class="flex justify-center gap-x-5">
      <th>TICKET</th>
      <th>STATUS</th>
      <th>PRIORIDADE</th>
      <th>DATA DE ABERTURA</th>
      <th>PRAZO</th>
    </tr>
  </thead>
  <tbody>
    <tr class="flex justify-center gap-x-12">
      <td class="text-zinc-950">INV001</td>
      <td class="text-zinc-950">Ativo</td>
      <td class="text-zinc-950">Normal</td>
      <td class="text-zinc-950">14/04/2024</td>
      <td class="text-zinc-950">20/04/2024</td>
    </tr>
    <tr class="flex justify-center gap-x-12">
      <td class="text-zinc-950">INV001</td>
      <td class="text-zinc-950">Ativo</td>
      <td class="text-zinc-950">Normal</td>
      <td class="text-zinc-950">14/04/2024</td>
      <td class="text-zinc-950">20/04/2024</td>
    </tr>
    <tr class="flex justify-center gap-x-12">
      <td class="text-zinc-950">INV001</td>
      <td class="text-zinc-950">Ativo</td>
      <td class="text-zinc-950">Normal</td>
      <td class="text-zinc-950">14/04/2024</td>
      <td class="text-zinc-950">20/04/2024</td>
    </tr>
  </tbody>
</table>
