body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

.custom-table thead tr {
  background-color: rgb(0, 174, 255);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  border-right: 1px solid #dddddd;
}

.custom-table th:last-child,
.custom-table td:last-child {
  border-right: none;
}

.custom-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff; /* Todas as linhas com fundo branco */
}

.custom-table tbody tr:hover {
  background-color: aliceblue; /* Altere para a cor que preferir quando passar o mouse */
}

.custom-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(0, 174, 255);
}

.custom-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.text-zinc-950 {
  color: #1c1c1c;
}