<section>
  <body>
    <aside class="flex flex-col w-1/6 p-4 border-border border-r-2 h-screen">
      <div class="flex itens-center flex-col px-2 mt-4">
        <a href="/home" class="flex itens-center, text-base, px-3 py-2"
          >Tarefas</a
        >
        <a href="/home" class="flex itens-center, text-base, px-3 py-2"
          >Metricas</a
        >
        <a href="/home" class="flex itens-center, text-base, px-3 py-2"
          >Configurações</a
        >
        <span class="flex flex-col flex-grow uppercase ml-3"
          >precisa de ajuda?</span
        >
      </div>
      <footer class="p-2 mt-auto border-t border-border">Perfil</footer>
    </aside>
  </body>
</section>
