<section class="h-screen">
  <body>
    <aside class="flex flex-col h-screen p-3">
      <div>
        <img src="../../../assets/images/icone.ico" width="40" height="40" />
      </div>

      <!-- opções admin -->
      <div
        class="flex flex-col px-1 mt-6"
        *ngIf="userInfo?.permissao == 'administrador'"
      >
        <a
          [routerLink]="[{ outlets: { secundary: ['tarefas'] } }]"
          routerLinkActive="active"
          class="flex items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideNotepadText"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon>
          Fila de Tickets</a
        >
        <a
          [routerLink]="[{ outlets: { secundary: ['CriarTicket'] } }]"
          routerLinkActive="active"
          href="/home"
          class="flex items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideTicketPlus"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon
          >Criar Ticket</a
        >
        <a
          class="flex-1 items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
          [routerLink]="[{ outlets: { secundary: ['dashboard'] } }]"
          routerLinkActive="active"
        >
          <ng-icon
            name="lucideBarChart4"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon
          >Relátorios</a
        >

        <a
          [routerLink]="[{ outlets: { secundary: ['cadastro'] } }]"
          routerLinkActive="active"
          href="/home"
          class="flex-1 items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideUserPlus"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon
          >Cadastro</a
        >

        <a
          [routerLink]="[{ outlets: { secundary: ['tarefas'] } }]"
          routerLinkActive="active"
          class="flex items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideUsers"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon>
          Gerenciamento de usuários</a
        >
      </div>

      <!-- opções funcionario -->
      <div
        class="flex flex-col px-1 mt-6"
        *ngIf="userInfo?.permissao == 'analista'"
      >
        <a
          [routerLink]="[{ outlets: { secundary: ['tarefas'] } }]"
          routerLinkActive="active"
          class="flex items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideNotepadText"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon>
          Fila de Tickets</a
        >

        <a
          class="flex-1 items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
          [routerLink]="[{ outlets: { secundary: ['dashboard'] } }]"
          routerLinkActive="active"
        >
          <ng-icon
            name="lucideBarChart4"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon
          >Relátorios</a
        >
      </div>

      <!-- opções clientes -->
      <div
        class="flex flex-col px-1 mt-6"
        *ngIf="userInfo?.permissao == 'cliente'"
      >
        <a
          [routerLink]="[{ outlets: { secundary: ['tarefas'] } }]"
          routerLinkActive="active"
          class="flex items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideNotepadText"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon>
          Meus Tickets</a
        >
        <a
          href="/home"
          class="flex items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideTicketPlus"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon
          >Criar Ticket</a
        >
        <a
          class="flex-1 items-center, text-base, px-2 py-2 hover:bg-zinc-200 rounded-md"
          [routerLink]="[{ outlets: { secundary: ['dashboard'] } }]"
          routerLinkActive="active"
        >
          <ng-icon
            name="lucideBarChart4"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon
          >Relátorios</a
        >
      </div>

      <div class="flex flex-col flex-grow">
        <span class="uppercase ml-2 text-gray-500 mt-auto text-xs rounded-md"
          >Links Extras</span
        >

        <a
          [routerLink]="[{ outlets: { secundary: ['configuracoes'] } }]"
          routerLinkActive="active"
          class="px-2 p-2 my-1 hover:bg-zinc-200 rounded-md"
        >
          <ng-icon
            name="lucideSettings2"
            color="black"
            strokeWidth="1.8"
            size="18"
            class="flex items-center mr-3"
          ></ng-icon
          >Configurações
        </a>
      </div>
      <footer class="p-2 my-1 border-t-2 border-border">
        <div class="flex flex-grow">
          <div class="flex flex-col">
            <span class="text-justify">{{ userInfo?.nome }}</span>
            <span class="text-justify text-gray-500 text-sm">{{
              userInfo?.email
            }}</span>
          </div>
          <button
            class="ml-auto w-12 justify-center content-center hover:bg-red-200 rounded-md py-2"
            (click)="logout()"
          >
            <ng-icon
              name="lucideLogOut"
              color="#D93036"
              strokeWidth="2"
              class="flex-1 justify-center items-center content-center"
            ></ng-icon>
          </button>
        </div>
      </footer>
    </aside>
  </body>
</section>
