body {
  background-color: var(--primary-background-color);
}

app-sidebar,
admin-sidebar,
funcionario-sidebar,
cliente-sidebar {
  border-right: solid 1px var(--primary-border-color);
}

@media screen and (max-width: 1200px) {
  app-sidebar,
  admin-sidebar,
  funcionario-sidebar,
  cliente-sidebar {
    width: 70px;
  }
}

@media screen and (max-width: 1024px) {
  main {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  app-gerenciar-usuarios {
    width: 85%;
  }

  main {
    width: 85%;
  }
}

@media screen and (max-width: 520px) {
  app-sidebar,
  admin-sidebar,
  funcionario-sidebar,
  cliente-sidebar {
    width: 60px;
  }
}

@media screen and (max-width: 380px) {
  main {
    width: 300px;
  }
}
