<body style="width: 100vw; height: 100vh">
  <!-- <app-header></app-header>
  <app-sidebar class="flex flex-col fixed border-r border-border"></app-sidebar> -->
  <aside style="background-color: blue; width: 30%; height: 100%"></aside>

  <main style="display: flex; flex-direction: column; width: 70%; height: auto">
    <header
      style="background-color: brown; width: 70%; height: 10%; display: flex"
    ></header>
    <content
      style="
        background-color: chartreuse;
        width: 70%;
        height: auto;
        display: flex;
      "
    >
    </content>
  </main>

  <!-- <router-outlet name="secundary"></router-outlet> -->
</body>
