app-sidebar,
admin-sidebar,
funcionario-sidebar,
cliente-sidebar {
  border-right: solid 1px var(--primary-border-color);
}

@media screen and (max-width: 1200px) {
  app-sidebar,
  admin-sidebar,
  funcionario-sidebar,
  cliente-sidebar {
    width: 100px;
  }
}

@media screen and (max-width: 520px) {
  app-sidebar,
  admin-sidebar,
  funcionario-sidebar,
  cliente-sidebar {
    width: 60px;
  }
}
