<body class="flex h-screen w-screen flex-row">
  <!-- <app-sidebar class="flex flex-col border-r border-border w-1/5"></app-sidebar> -->

  <ng-container [ngSwitch]="getSidebarType()">
    <admin-sidebar
      *ngSwitchCase="'admin'"
      class="flex flex-col border-r border-border w-1/5"
    ></admin-sidebar>

    <funcionario-sidebar
      *ngSwitchCase="'funcionario'"
      class="flex flex-col border-r border-border w-1/5"
    ></funcionario-sidebar>

    <cliente-sidebar
      *ngSwitchCase="'cliente'"
      class="flex flex-col border-r border-border w-1/5"
    ></cliente-sidebar>
  </ng-container>

  <app-modal-logout></app-modal-logout>
  <app-modal-delete-user></app-modal-delete-user>

  <main class="flex w-full h-full flex-col ml-auto overflow-y-auto flex-1">
    <app-header class="flex w-full py-1 max-h-14 h-full"></app-header>
    <!-- <content class="flex h-full w-full bg-primary-background"></content> -->
    <router-outlet></router-outlet>
  </main>
</body>
