input::placeholder {
  color: var(--primary-placeholder-color);
}

input:focus {
  border-color: var(--secundary-border-color);
}

select:focus,
input:focus {
  border-color: var(--secundary-border-color);
}

input::placeholder {
  color: var(--primary-placeholder-color);
}

input {
  color: var(--primary-font-color);
  border-color: var(--primary-border-color);
}

@media screen and (max-width: 1024px) {
  .div-text-button {
    flex-direction: column;
  }

  .input-group {
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (max-width: 640px) {
  .container-chaveta {
    justify-content: center;
    gap: 32px;
  }

  section {
    padding: 6px 0px;
  }

  .container-inputs {
    width: 364px;
  }
}

@media screen and (max-width: 460px) {
  .container-inputs {
    width: 260px;
  }

  .container-chaveta {
    width: 150px;
  }

  * {
    font-size: 12px;
  }

  h4 {
    font-size: 18px;
  }
}
