@import "@angular/cdk/overlay-prebuilt.css";
@import "ngx-toastr/toastr";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "Roboto Mono", "Poppins", sans-serif;
  src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
    url("../src/assets/fonts/RobotoMono/RobotoMono-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto Mono", "Poppins", sans-serif;
  font-size: 0.97rem;
}

:root {
  --font-sans: "Roboto Mono, " Poppins ", sans-serif";
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  color: var(--tertiary-highligted-text-color);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.light {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;

  --primary-background-color: #fff;
  --secundary-background-color: #ffffff;
  --tertiary-background-color: rgb(226 232 240);

  --primary-font-color: #0c0c14;
  --secundary-font-color: #06b6d4;
  --tertiary-font-color: #5c5958;

  --primary-button-background-color: #06b6d4;
  --primary-button-text-color: #fff;

  --secundary-button-text-color: #0bcbe0;

  --primary-highlighted-text-color: #0c0c14;
  --secundary-highlighted-text-color: #06b6d4;
  --tertiary-highligted-text-color: rgb(107 114 128);

  --primary-border-color: #e5e7eb;
  --secundary-border-color: rgb(17 24 39);
  --secundary-border-color: lightblue;
  --tertiary-border-color: rgba(0, 0, 0, 0.1);

  --tertiary-button-text-color: rgb(220 38 38);
  --tertiary-button-background-color: rgb(220, 224, 228);

  --placeholder-default: lightblue;

  --primary-shadow-color: rgba(0, 0, 0, 0.1);

  --card-background-color: rgba(238, 238, 238, 0.5);

  --background-prioridade-urgente: #dc262670;
  --background-prioridade-alta: #ea5a0c85;
  --background-prioridade-media: #ca8b045d;
  --background-prioridade-normal: #2e70ff70;

  --font-color-prioridade-urgente: #dc2626;
  --font-color-prioridade-alta: #ea580c;
  --font-color-prioridade-media: #ca8a04;
  --font-color-prioridade-normal: #2563eb;

  --background-gradient: linear-gradient(
    185deg,
    rgba(39, 39, 42, 0.95) 70%,
    rgba(115, 123, 142, 0.7) 140.23%
  );
}

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;

  /* --primary-background-color: #181818;  */
  --primary-background-color: #121212;
  --secundary-background-color: #06b6d4;
  --tertiary-background-color: #333333;

  --primary-font-color: #eee;
  --secundary-font-color: #06b6d4;
  --tertiary-font-color: #d7d7d7;

  --primary-border-color: #292929;
  --default-border-color: rgb(185 189 195);

  --secundary-border-color: lightblue;

  --primary-highlighted-text-color: #fff;
  --secundary-highlighted-text-color: #06b6d4;
  --tertiary-highligted-text-color: rgb(107 114 128);

  --primary-button-background-color: #06b6d4;
  --primary-button-text-color: #fff;

  --secundary-button-text-color: #06b6d4;

  --tertiary-button-text-color: rgb(220 38 38);
  --tertiary-button-background-color: rgba(54, 54, 54, 0.897);

  --placeholder-default: #d7d7d7;

  --primary-shadow-color: rgba(0, 0, 0, 0);

  --card-background-color: rgb(32, 32, 32);

  --background-prioridade-urgente: #311919;
  --background-prioridade-alta: #372207;
  --background-prioridade-media: #2d2a0f;
  --background-prioridade-normal: #10233d;

  --font-color-prioridade-urgente: #dc2626;
  --font-color-prioridade-alta: #ea580c;
  --font-color-prioridade-media: #ca8a04;
  --font-color-prioridade-normal: #2563eb;

  --background-gradient: linear-gradient(
    185deg,
    rgba(39, 39, 42, 0.95) 70%,
    rgba(15, 23, 42, 0) 140.23%
  );
}
