<div class="flex items-start gap-2.5 py-6">
  <div class="flex flex-col gap-1">
    <div class="flex items-center space-x-2 rtl:space-x-reverse">
      <span class="text-sm font-semibold text-[var(--primary-font-color)]"
        >Bonnie Green</span
      >
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
        >11:46</span
      >
    </div>
    <div class="leading-1.5 flex w-full max-w-[400px] flex-col">
      <div
        class="flex items-start bg-[var(--card-background-color)] rounded-xl p-2"
      >
        <div class="me-2">
          <span
            class="flex items-center max-w-[320px] box-border gap-2 text-sm font-medium text-[var(--primary-font-color)] pb-2"
          >
            <p class="px-2 max-w-72 break-words">File title</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
