<body>
  <div
    role="tablist"
    aria-orientation="horizontal"
    class="main-content flex items-center justify-center px-6 overflow-hidden py-3 overflow-auto mb-4"
    tabindex="1"
    data-orientation="horizontal"
    style="outline: none; gap: 4px"
  >
    <div class="container-options flex items-center gap-x-2 relative z-10">
      <div *ngFor="let option of options">
        <button
          type="button"
          class="option relative py-2 px-3 rounded-full text-md capitalize hover: data-[state=active]
            {{ selectedType === option.type ? 'text-white' : '' }}"
          (click)="selectOption(option.type)"
        >
          {{ option.type }}
          <span
            *ngIf="selectedType === option.type"
            class="absolute inset-0 rounded-full border border-zinc-700 z-[-1] bg-[linear-gradient(185deg,_rgba(39,_39,_42,_0.95)_70%,_rgba(15,_23,_42,_0.00)_140.23%)] transition ease-in-out duration-300"
            style="transform: none; transform-origin: 50% 50% 0px"
          ></span>
        </button>
      </div>
    </div>
  </div>

  <div [ngStyle]="{ display: selectedType === 'detalhes' ? 'block' : 'none' }">
    <section
      class="campos-de-informacao flex flex-col items-center justify-center p-3 gap-y-3 w-full"
    >
      <div class="input-group flex flex-row gap-x-2 w-11/12">
        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="id-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Ticket ID</label
          >
        </div>
        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="titulo-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Titulo</label
          >
        </div>

        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="data_abertura-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Data Abertura</label
          >
        </div>
        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="prazo_encerramento-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Previsão Encerramento</label
          >
        </div>
      </div>

      <div class="input-group flex flex-row gap-x-2 w-11/12">
        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="aberto_por-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Aberto Por</label
          >
        </div>
        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="tipo-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Tipo</label
          >
        </div>

        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="prioridade-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Prioridade</label
          >
        </div>
        <div class="relative w-full">
          <input
            type="text"
            [disabled]="isInputDisabled"
            id="responsavel-ticket"
            class="input-disable capitalize w-full z-10 pl-4 pr-3 py-2 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          />
          <label
            class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
          >
            Responsável</label
          >
        </div>
      </div>

      <div class="input-group relative flex flex-row gap-x-2 w-6/12">
        <textarea
          id="descricao-ticket"
          name="descricao"
          class="input-disable capitalize w-full pl-4 pr-3 py-2 text-gray-500 bg-transparent outline-none border focus: shadow-sm rounded-lg"
          [disabled]="isInputDisabled"
        >
        </textarea>
        <label
          class="absolute translate-y-[-45%] px-2 top-0 font-light text-base text-sm text-[var(--default-border-color)] -top-0 left-3 text-sm"
        >
          Descrição</label
        >
      </div>

      <div class="buttons-area flex gap-x-4 items-end justify-around w-4/5 h-56">
        <button
          (click)="togglePopover()"
          type="button"
          class="px-4 py-2 font-semibold text-[var(--primary-font-color)] border border-[var(--primary-border-color)] rounded-full duration-150 hover:bg-[var(--tertiary-button-background-color)] cursor-pointer"
        >
          Atualizar setor
        </button>

        <div
          *ngIf="popoverVisible"
          class="absolute z-10 translate-x-[+5%] w-72 inline-block text-sm text-gray-500 border-2 border-[var(--primary-border-color)] rounded-lg shadow-sm w-80 bg-[var(--card-background-color)]"
        >
          <div class="p-3">
            <div class="flex">
              <div>
                <header class="flex justify-between items-center mb-4">
                <div>
                  <p
                    class="mb-1 text-base font-semibold leading-none text-gray-900 dark:text-white"
                  >
                    <a class="hover:underline">Enviar para</a>
                  </p>
                </div>
                <button class="self-start"
                  (click)="togglePopover()"
                >
                  <ng-icon
                  name="lucideX"
                  strokeWidth="1.8"
                  size="20"
                  class="text-[var(--primary-font-color)] hover:text-[var(--tertiary-button-text-color)] "
                  >
                  </ng-icon>
                </button>
              </header>
                <p class="mb-4 text-sm">
                  Essa alterção irá modificar o setor responsável pelo ticket
                </p>
                <div class="relative w-full">
                  <ng-icon
                    name="lucideBuilding"
                    strokeWidth="1.5"
                    size="20"
                    class="w-6 h-6 text-gray-400 absolute left-3 inset-y-0 my-auto"
                  >
                  </ng-icon>
                  <select
                    [(ngModel)]="selectedSetor"
                    class="w-full pl-12 pr-3 py-2 bg-transparent outline-none border-[var(--primary-border-color)] border focus: shadow-sm rounded-lg"
                    required
                  >
                    <option value="" disabled selected hidden>Setor</option>
                    <option *ngFor="let setor of setores" [value]="setor.id">
                      {{ setor.nome }}
                    </option>
                  </select>
                </div>

                <button
                class="flex mx-auto mt-8 justify-center px-4 py-2 border border-[var(--primary-border-color)] text-[var(--primary-font-color)] rounded-lg duration-150 hover:bg-[var(--tertiary-button-background-color)] cursor-pointer"
                (click)="setorChange()"
                >
                  Alterar
                </button>


              </div>
            </div>
          </div>
        </div>

        <button
        class="gradient-button rounded-full"
        >Fechar Ticket</button>
      </div>
    </section>
  </div>

  <div [ngStyle]="{ display: selectedType === 'notas' ? 'block' : 'none' }">
    <div
      class="notas flex flex-col items-center justify-center border-t mx-10 border-[var(--primary-border-color)]"
      style="min-height: 0"
    >
      <main
        class="mensagens-list flex flex-col flex-grow w-8/12 px-10 mt-auto overflow-y-auto"
      >

      <div *ngFor="let nota of dadosNotas">
        <app-notes-text
        [nome]="nota.nome"
        [data_hora]="nota.data_hora"
        [mensagem]="nota.mensagem">

        </app-notes-text>
      </div>


    </main>
      <div
        class="input-container p-1 flex items-center justify-center w-8/12 border border-[var(--primary-border-color)] rounded-full"
      >
        <button
          class="upload flex items-center justify-center w-11 h-11 rounded-full border border-[var(--primary-border-color)] hover:bg-[var(--tertiary-button-background-color)]"
        >
          <ng-icon
            name="lucidePlus"
            strokeWidth="1.8"
            size="20"
            class="text-[var(--primary-font-color)]"
          ></ng-icon>
        </button>
        <input
          type="text"
          class="flex flex-grow h-10 border-none bg-transparent text-[var(--primary-font-color)] px-3 focus:outline-none"
        />

        <button
          class="enviar flex items-center justify-center w-11 h-11 rounded-full border-[var(--primary-border-color)] hover:bg-[var(--tertiary-button-background-color)]"
        >
          <ng-icon
            name="lucideSendHorizontal"
            strokeWidth="1.8"
            size="20"
            class="text-[var(--primary-font-color)]"
          ></ng-icon>
        </button>
      </div>
    </div>
  </div>

  <div [ngStyle]="{ display: selectedType === 'anexos' ? 'block' : 'none' }">
    <div
      class="flex flex-col items-center justify-center border-t mx-10 border-[var(--primary-border-color)]"
    ></div>
  </div>
</body>
