.input-disable:disabled,
.input-disable:hover,
.input-disable:focus {
  cursor: not-allowed;
}

input,
textarea {
  border-color: var(--primary-border-color);
  color: var(--primary-font-color);
}

textarea {
  max-height: 300px;
}

.option {
  color: var(--primary-font-color);
}

.notas {
  height: 78vh;
}

.gradient-button {
  color: var(--primary-font-color);
  padding: 8px 16px;
  margin: 0 8px;
  font-weight: bold;
  background-size: 160% 120%;
  transition: background-position 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #2fc4d8,
    /* #009ec5, */ #0499ff,
    #2565eb
  );
  box-shadow: 0 4px 12px 0 rgba(49, 196, 190, 0.15);
}

.gradient-button:hover {
  background-position: 99% 30%;
  -webkit-transition: all 0.4s ease-in-out; /* Safari */
  -moz-transition: all 0.4s ease-in-out; /* Firefox */
  -ms-transition: all 0.4s ease-in-out; /* IE */
  -o-transition: all 0.4s ease-in-out; /* Opera */
  transition: all 0.4s ease-in-out; /* Padrão */
  transition: background-image 0.4s ease-in-out;
  transition: background-position 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #76bcc0,
    #14c7dc,
    #3b83f6,
    #2565eb
  );
}

option{
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}

@media screen and (max-width: 1024px) {
  .input-group {
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }

  .campos-de-informacao {
    margin: 0 auto;
    width: 400px;
  }

  input {
    width: 400px;
  }
}

@media screen and (max-width: 640px) {
  * {
    font-size: 11px;
  }

  .campos-de-informacao {
    width: 250px;
  }

  .input-group {
    width: 250px;
  }

  input {
    width: 250px;
  }
}
